DATABASE_URL = deployed heroku database url

TESTING_KEY = Spoonacular API testing/development key
PRODUCTION_KEY = Spoonacular API production key

WATSON_USERNAME = IBM Watson username environment variable
WATSON_PASSWORD = IBM Watson password environment variable
